label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

label, input, select, button {
    font-size: .9em;
}

input, select, button {
    padding: 5px;
}

select, button {
    cursor: pointer;
}