article {
    border: 1px solid black;
}

article>h3 {
    color: dimgray;
    margin: 5px;
    text-align: center;
}

article>p {
    margin: 0;
    font-size: 3em;
}

article>p, article>ul {
    padding-left: 5px;
}

article>button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: lightcoral;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

td {
    text-align: center;
}

thead>tr>th:first-of-type, tbody>tr>th:first-of-type {
    text-align: left;
}

tbody>tr:nth-child(even) {
    background-color: linen;
}